@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Principal';
    src: url("../Fontes/Lato/Lato-Bold.ttf");
}

body {
    display: flex;
    background-color: #090e22;
}
.container {
    display: flex;
    margin: 20vh auto;
    width: 400px;
    height: 400px;
    background-color: #2563EB;
    border-radius: 7px;
}
.container-calc {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 10px;
}
.container-botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px;
    margin-top: 30px;
}
.container-botao button {
    width: 80px;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Principal';
    box-shadow: none;
    background-color: #22C55E;
}
#limpar {
    background-color: #FACC15;
}
label {
    margin-bottom: 10px;
    font-family: 'Principal';
    font-size: 1.1rem;
    color: #111A3A;
}
input {
    margin-bottom: 30px;
    padding: 4px;
}
h2 {
    color: #111A3A;
    margin-bottom: 50px;
    font-family: 'Principal';
    font-size: 1.5rem;
}

@media (max-width: 412px) {
    .container {
        width: 300px;
    }
}

@media (max-width: 412px) {
    h2 {
        font-size: 1.3rem;
        color: #F1F5F9;
    }
}